h3
{
	margin: 5px 0 !important;
}
.navbar
{
	border-radius: 0px !important;
	margin: 0 !important;
}
#time
{
    float: right;
    font-size: 2em;
    margin-top: -40px;
}
#name
{
	display: inline;
}
#login
{
	margin: -20px 0 -40px 0;
	/*font-size: .8em;*/
}
.submit
{
	padding: 1px 6px !important;
}
.build-row
{
    margin-top: 60px;
    /*border: 1px solid #d5dada;*/
    padding: 5px;
    border-radius: 2px;
}
.grey-row
{
    margin-top: 30px;
    padding: 5px;
    border-radius: 2px;
}
.grey-box
{
    border: 1px solid #d5dada;
    border-radius: 2px;
}
.status-box
{
	height: 30px;
	font-size: .8em;
	border: 1px solid #d5dada;
    border-radius: 2px;
	display: block;
 	text-align: center;
  	padding: 0;
  	line-height: 1;
  	color: #ffffff;
  	font-weight: bold;
  	white-space: nowrap;
  	vertical-align: baseline;
}
.story-box
{
    border-radius: 4px;
    max-height: 500px;
    overflow: auto;
    border: 1px solid #d5dada;
    font-size: .8em;
}
.complete-box
{
    border-radius: 4px;
    max-height: 500px;
    overflow: auto;
    border: 1px solid #d5dada;
}
#stories
{
	text-align: left;
	font-size: 1.2em;
	width: 100%;
}
#switch
{
	margin: 0;
	border-radius: 4px;
	color: #ffffff;
    background-color: #2261b5;
    border-color: #1e55a0;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    position: relative;
    float: right;
}
#switch:hover
{
	color: #ffffff;
  	background-color: #1a4a8a;
  	border-color: #143a6c;
	cursor: pointer;
}
#completed
{
	text-align: left;
	font-size: 1.2em;
	width: 100%;
	display: block;
}
#completedBox
{
	display: none;
}
#sprintTime
{
	float: right;
	overflow: hidden;
}
#graph
{
	float: left;
	overflow: hidden;
}
#key
{
	
}
#keyComplete
{
	line-height: 1;
    border-radius: 2px;
    background-color: #0093e8;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
#keyActive
{
	line-height: 1;
    border-radius: 2px;
    background-color: #2261b5;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
#timeKey
{
	line-height: 1;
    border-radius: 2px;
    background-color: #ed5624;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
@-webkit-keyframes andrewName {
    from {color: #d5dada;}
    to {color: #ff0000;}
}
@keyframes andrewName {
    from {color: #d5dada;}
    to {color: #ff0000;}
}
#nameAlert
{
	color: #d5dada;
	-webkit-animation-name: andrewName; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;
    animation-name: andrewName;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}